
.FormStyling{
  display: flex;
  justify-content: center;
  
 
}
.DisplayStyle{
  display: flex;
  justify-content: space-between;
  background-color: #f1f8e9;
  width: 50% !important;
  margin:0% 10% 0 25%;
  
}
@media screen and (max-width: 413px) {
.DisplayStyle{
  width: 95% !important;
   margin: 0 15% 0 5% !important;
}
}
@media screen and (max-width: 800px) {
  .DisplayStyle{
    width: 80% !important;
     margin: 0 10% 0 10% !important;
  }
  }